.space-section {
  padding: 4rem 5%;
  background-color: var(--secondary-color);
  text-align: center;
}

.space-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--dark-color);
}

.space-section p {
  font-size: 1.1rem;
  margin-bottom: 3rem;
  color: var(--text-color);
}

.carousel-container {
  max-width: 800px;
  margin: 0 auto 3rem auto;
}

.carousel-image {
  width: 100%;
  border-radius: 10px;
  /* Garante que a imagem mantenha suas proporções e não fique esmagada */
  object-fit: cover; 
  max-height: 500px; /* Define uma altura máxima para o carrossel */
  margin: 0 auto; /* Centraliza a imagem se ela for menor que o container */
}

/* Estilizando as setas e bolinhas do carrossel para combinar com a paleta */
.slick-dots li button:before {
  font-size: 12px;
  color: var(--primary-color);
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--primary-color);
}

.slick-prev:before, .slick-next:before {
  font-size: 25px;
  color: var(--primary-color);
}