.about-section {
  padding: 4rem 5%;
  background-color: var(--white);
}

.about-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.about-image {
  flex: 1;
  max-width: 400px;
}

.about-image img, .image-placeholder {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.image-placeholder {
    height: 400px;
    background-color: #ccc;
}

.about-content {
  flex: 1.5;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}
