/* Definindo variáveis de cor para facilitar a manutenção */
/* src/index.css */
:root {
  --primary-color: #c9a455; /* Dourado principal da logo */
  --secondary-color: #f7f3ed; /* Um bege/creme bem claro para fundos */
  --dark-color: #2c2a2a; /* Um cinza-escuro/chumbo para textos e fundos */
  --text-color: #4f4f4f; /* Cor de texto principal, mais suave que preto puro */
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Use uma fonte limpa como Poppins ou Lato */
}

html {
  scroll-behavior: smooth; /* Para navegação suave ao clicar nos links do menu */
}

body {
  color: var(--text-color);
}